﻿@using InspinaFullVersion.Helpers


    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Content/inspinia/img/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>

            <li class="@Html.IsSelected(controller: "IPCMachine", cssClass: "active")">
                <a href="#">
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">@Html.Lookup("IPC_Configure_And_Manager")</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li @Html.IsSelected(controller: "IPCMachine")>
                        <a href="@Url.Action("Index", "IPCMachine")">@Html.Lookup("IPC_Machine_List")</a>
                    </li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "AppSoftWare")">
                <a href="#">
                    <i class="fa fa-th-large"></i>
                     <span class="nav-label">@Html.Lookup("IPC_Software_Manager")</span> 
                     <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li class="@Html.IsSelected(controller: "AppSoftWare")">
                        <a href="@Url.Action("Index","AppSoftWare")">@Html.Lookup("Firmware_SoftWare_List")</a>
                    </li>
                </ul>
            </li>

    </ul>

    </div>

