﻿@using InspinaFullVersion.Helpers

<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">

            <li>
                @Html.Language()
            </li>

            <li>
                <a href="@Url.Action("Update","Language", new { lang = "en-US", returnUrl = @HttpContext.Current.Request.Url })">
                    <img src="~/Content/inspinia/img/flags/16/United-States.png"> @Html.Lookup("English")
                </a>
            </li>

            <li>
                <a href="@Url.Action("Update","Language", new { lang = "zh-TW", returnUrl = @HttpContext.Current.Request.Url })">
                    <img src="~/Content/inspinia/img/flags/16/Taiwan.png"> @Html.Lookup("Traditional")
                </a>
            </li>

            <li>
                <a href="@Url.Action("Update","Language", new { lang = "ja-JP", returnUrl = @HttpContext.Current.Request.Url })">
                    <img src="~/Content/inspinia/img/flags/16/Japan.png"> @Html.Lookup("Japanese")
                </a>
            </li>
                      

            <li>
                <a href="login.html">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>

            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>

    </nav>

</div>