﻿@using InspinaFullVersion.Helpers

<script type="text/template" id="page-template">

    <div>
        <div class="text-center">
            <ul class="pagination">

                <li>
                    <a v-bind:href="pre_page(1)" aria-label="Next" v-on:click="do_prefunction()">
                        <span aria-hidden="true">@Html.Lookup("Previous_Page")</span>
                    </a>
                </li>

                <li>
                    <a v-bind:href="next_page(1)" aria-label="Next" v-on:click="do_nextfunction()">
                        <span aria-hidden="true">@Html.Lookup("Next_Page")</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="text-center">

            <ul class="pagination">

                <li>
                    <a v-on:click="move_left(5)" aria-label="Next" v-bind:href="pre_page(5)">
                        <span aria-hidden="true"><i class="fa fa-angle-double-left"></i><i class="fa fa-angle-double-left"></i></span>
                    </a>
                </li>

                <li>
                    <a v-on:click="move_left(1)" aria-label="Next" v-bind:href="pre_page(1)">
                        <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                    </a>
                </li>

                <li v-for="page in pages" v-bind:class="page_class(page)"><a v-bind:href="link_url(page)" v-on:click="do_function(page)">{{page}}</a></li>

                <li>
                    <a v-on:click="move_right(1)" aria-label="Next" v-bind:href="next_page(1)">
                        <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                    </a>
                </li>
                <li>
                    <a v-on:click="move_right(5)" aria-label="Next" v-bind:href="next_page(5)">
                        <span aria-hidden="true"><i class="fa fa-angle-double-right"></i><i class="fa fa-angle-double-right"></i></span>
                    </a>
                </li>

            </ul>
        </div>

    </div>


</script>


<script>


    (function($){

        var PageTemplate = Vue.extend({

            template: '#page-template',

            beforeMount: function(){

                this.adjust();
                this.reflush();
            },

            methods: {

                reflush: function(){

                    this.clear_pages();
                    if ( this.is_small() )
                        this.show_all();
                    else
                        this.show_partial();
                },

                move_left: function (num) {
                    this.center_page = (this.center_page - num - this.half_num() >= 1) ? (this.center_page - num) : this.center_page;
                    this.reflush();
                },

                move_right: function (num) {
                    this.center_page = (this.center_page + num + this.half_num() <= this.total_pages()+1) ? (this.center_page + num) : this.center_page;
                    this.reflush();
                },

                half_num: function () {

                    return this.limit_pages % 2 == 0 ? this.limit_pages / 2 : (this.limit_pages + 1) / 2;
                },

                adjust: function(){

                    if (this.in_range( this.center_page )==false)
                        this.center_page = this.half_num();

                    if (this.center_page - this.half_num() <= 0)
                        this.center_page += this.half_num();

                    if (this.center_page + this.half_num() > this.total_pages())
                        this.center_page -= this.half_num();
                },

                in_range: function(page){

                    return this.center_page >= 1 && this.center_page < this.total_pages();
                },

                page_class: function (page) {

                    return page == this.page_now ? "disabled" : "";
                },

                total_pages: function(){

                    var remender = this.total_amount % this.page_size;

                    return remender == 0 ? (this.total_amount / this.page_size) : (this.total_amount - remender) / this.page_size + 1;
                },

                link_url: function (page) {
                    if (this.action == ""){
                        return "#";
                    }
                    else {
                        return this.action + "?page=" + page + this.extend();
                    }
                },

                next_page: function(num){

                    if ((this.page_now + num) <= this.total_pages() && this.action != "")
                        return this.action + "?page=" + (this.page_now + num) + this.extend();
                    else
                        return "#";
                },
                do_nextfunction: function () {
                    if ((this.page_now + 1) <= this.total_pages() && this.action == "" && this.pageFunc != null) {
                        this.pageFunc(this.page_now + 1);
                    }
                },
                pre_page: function (num) {

                    if ((this.page_now - num) >= 1 && this.action != "")
                        return this.action + "?page=" + (this.page_now - num) + this.extend();
                    else
                        return "#";
                },
                do_prefunction: function () {
                    if ((this.page_now - 1) >= 1 && this.action == "" && this.pageFunc != null) {
                        this.pageFunc(this.page_now - 1);
                    }
                },
                extend : function(){

                    return this.extend_Parameters ? this.extend_Parameters : "";
                },

                is_small: function () {

                    return this.total_pages() <= this.limit_pages;
                },

                show_all: function () {

                    for (var page = 1; page <= this.total_pages() ; ++page)
                        this.pages.push(page);
                },

                show_partial: function () {

                    var left = this.center_page - this.half_num();
                    var right = this.center_page + this.half_num();
                    for (var page = left; page < right; ++page)
                        this.pages.push(page);
                },

                clear_pages: function () {

                    this.pages.splice(0, this.pages.length);
                },

                do_function: function (page) {
                    if (this.pageFunc != null) {
                        if (page > 0 && page <= this.total_pages()) {
                            this.pageFunc(page);
                        }
                    }

                }
            }
        });

        $.extend({

            PageTemplate: PageTemplate
        });

    })(jQuery);

</script>

