﻿@{
    if (ViewContext.IsChildAction)
    {
        Layout = null;
    }
}

@if (ViewContext.IsChildAction)
{
    <span>@ViewData["ErrorMessage"]</span>
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Error</title>
    </head>
    <body>
        <hgroup>
            <h1>@ViewData["ErrorMessage"]</h1>
            <h2>An error occurred while processing your request.</h2>
        </hgroup>
    </body>
</html>
}


