﻿@using InspinaFullVersion.Helpers

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Content/inspinia/img/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>



            <li class="@Html.InspiniaSelected( new string [] { "Index", "dashboard_2", "dashboard_3", "dashboard_4_1", "dashboard_5" } )">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">儀表板</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@Html.InspiniaSelected("Index")"><a href="@Url.Action("Index")">Dashboard v.1</a></li>
                    <li class="@Html.InspiniaSelected("Index")"><a href="@Url.Action("dashboard_2")">Dashboard v.2</a></li>
                    <li class="@Html.InspiniaSelected("Index")"><a href="@Url.Action("dashboard_3")">Dashboard v.3</a></li>
                    <li class="@Html.InspiniaSelected("Index")"><a href="@Url.Action("dashboard_4_1")">Dashboard v.4</a></li>
                    <li class="@Html.InspiniaSelected("Index")"><a href="@Url.Action("dashboard_5")">Dashboard v.5 <span class="label label-primary pull-right">NEW</span></a></li>
                </ul>
            </li>

    <li class="@Html.InspiniaSelected("Layouts")">
        <a href="@Url.Action("Layouts")"><i class="fa fa-diamond"></i> <span class="nav-label">佈局一覽</span></a>
    </li>


    <li class="@Html.InspiniaSelected(new string [] { "graph_flot", "graph_morris", "graph_rickshaw", "graph_chartjs", "graph_chartist", "c3", "graph_peity", "graph_sparkline" })">
        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">統計圖表</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("graph_flot")"><a href="@Url.Action("graph_flot")">Flot Charts</a></li>
            <li class="@Html.InspiniaSelected("graph_morris")"><a href="@Url.Action("graph_morris")">Morris.js Charts</a></li>
            <li class="@Html.InspiniaSelected("graph_rickshaw")"><a href="@Url.Action("graph_rickshaw")">Rickshaw Charts</a></li>
            <li class="@Html.InspiniaSelected("graph_chartjs")"><a href="@Url.Action("graph_chartjs")">Chart.js</a></li>
            <li class="@Html.InspiniaSelected("graph_chartist")"><a href="@Url.Action("graph_chartist")">Chartist</a></li>
            <li class="@Html.InspiniaSelected("c3")"><a href="@Url.Action("c3")">c3 charts</a></li>
            <li class="@Html.InspiniaSelected("graph_peity")"><a href="@Url.Action("graph_peity")">Peity Charts</a></li>
            <li class="@Html.InspiniaSelected("graph_sparkline")"><a href="@Url.Action("graph_sparkline")">Sparkline Charts</a></li>
        </ul>
    </li>

    <li class="@Html.InspiniaSelected("metrics")">
        <a href="@Url.Action("metrics")"><i class="fa fa-pie-chart"></i> <span class="nav-label">趨勢圖</span>  </a>
    </li>

    <li class="@Html.InspiniaSelected(new string [] { "mailbox", "mail_detail", "mail_compose", "email_template"})">
        <a href=""><i class="fa fa-envelope"></i> <span class="nav-label">電子信箱 </span><span class="label label-warning pull-right">16/24</span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("mailbox")" ><a href="@Url.Action("mailbox")">Inbox</a></li>
            <li class="@Html.InspiniaSelected("mail_detail")"><a href="@Url.Action("mail_detail")">Email view</a></li>
            <li class="@Html.InspiniaSelected("mail_compose")"><a href="@Url.Action("mail_compose")">Compose email</a></li>
            <li class="@Html.InspiniaSelected("email_template")"><a href="@Url.Action("email_template")">Email templates</a></li>
        </ul>
    </li>




    <li class="@Html.InspiniaSelected("widgets")">
        <a href="@Url.Action("widgets")"><i class="fa fa-flask"></i> <span class="nav-label">標籤元件</span></a>
    </li>

    <li class="@Html.InspiniaSelected(new string [] {
        "typography",
        "icons",
        "draggable_panels",
        "resizeable_panels",
        "buttons",
        "video",
        "tabs_panels",
        "tabs",
        "notifications",
        "badges_labels" })">
        <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">控制項</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("typography")"><a href="@Url.Action("typography")">Typography</a></li>
            <li class="@Html.InspiniaSelected("icons")"><a href="@Url.Action("icons")">Icons</a></li>
            <li class="@Html.InspiniaSelected("draggable_panels")"><a href="@Url.Action("draggable_panels")">Draggable Panels</a></li>
            <li class="@Html.InspiniaSelected("resizeable_panels")"><a href="@Url.Action("resizeable_panels")">Resizeable Panels</a></li>
            <li class="@Html.InspiniaSelected("buttons")"><a href="@Url.Action("buttons")">Buttons</a></li>
            <li class="@Html.InspiniaSelected("video")"><a href="@Url.Action("video")">Video</a></li>
            <li class="@Html.InspiniaSelected("tabs_panels")"><a href="@Url.Action("tabs_panels")">Panels</a></li>
            <li class="@Html.InspiniaSelected("tabs")"><a href="@Url.Action("tabs")">Tabs</a></li>
            <li class="@Html.InspiniaSelected("notifications")"><a href="@Url.Action("notifications")">Notifications & Tooltips</a></li>
            <li class="@Html.InspiniaSelected("badges_labels")"><a href="@Url.Action("badges_labels")">Badges, Labels, Progress</a></li>
        </ul>
    </li>


    <li  class="@Html.InspiniaSelected(new string [] { "form_basic", "form_advanced", "form_wizard", "form_file_upload", "form_editors", "form_markdown" })">
        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">表單元件</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("form_basic")"><a href="@Url.Action("form_basic")">Basic form</a></li>
            <li class="@Html.InspiniaSelected("form_advanced")"><a href="@Url.Action("form_advanced")">Advanced Plugins</a></li>
            <li class="@Html.InspiniaSelected("form_wizard")"><a href="@Url.Action("form_wizard")">Wizard</a></li>
            <li class="@Html.InspiniaSelected("form_file_upload")"><a href="@Url.Action("form_file_upload")">File Upload</a></li>
            <li class="@Html.InspiniaSelected("form_editors")"><a href="@Url.Action("form_editors")">Text Editor</a></li>
            <li class="@Html.InspiniaSelected("form_markdown")"><a href="@Url.Action("form_markdown")">Markdown</a></li>
        </ul>
    </li>


    <li class="@Html.InspiniaSelected(new string [] {
              "contacts",
              "profile_1",
              "profile_2",
              "contacts_2",
              "projects",
              "project_detail",
              "teams_board",
              "social_feed",
              "clients",
              "full_height",
              "vote_list",
              "file_manager",
              "calendar",
              "issue_tracker",
              "blog",
              "article",
              "faq" ,
              "timeline",
              "pin_board" })">
        <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">各種視圖</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("contacts")"><a href="@Url.Action("contacts")">Contacts</a></li>
            <li class="@Html.InspiniaSelected("profile_1")"><a href="@Url.Action("profile_1")">Profile</a></li>
            <li class="@Html.InspiniaSelected("profile_2")"><a href="@Url.Action("profile_2")">Profile v.2</a></li>
            <li class="@Html.InspiniaSelected("contacts_2")"><a href="@Url.Action("contacts_2")">Contacts v.2</a></li>
            <li class="@Html.InspiniaSelected("projects")"><a href="@Url.Action("projects")">Projects</a></li>
            <li class="@Html.InspiniaSelected("project_detail")"><a href="@Url.Action("project_detail")">Project detail</a></li>
            <li class="@Html.InspiniaSelected("teams_board")"><a href="@Url.Action("teams_board")">Teams board</a></li>
            <li class="@Html.InspiniaSelected("social_feed")"><a href="@Url.Action("social_feed")">Social feed</a></li>
            <li class="@Html.InspiniaSelected("clients")"><a href="@Url.Action("clients")">Clients</a></li>
            <li class="@Html.InspiniaSelected("full_height")"><a href="@Url.Action("full_height")">Outlook view</a></li>
            <li class="@Html.InspiniaSelected("vote_list")"><a href="@Url.Action("vote_list")">Vote list</a></li>
            <li class="@Html.InspiniaSelected("file_manager")"><a href="@Url.Action("file_manager")">File manager</a></li>
            <li class="@Html.InspiniaSelected("calendar")"><a href="@Url.Action("calendar")">Calendar</a></li>
            <li class="@Html.InspiniaSelected("issue_tracker")"><a href="@Url.Action("issue_tracker")">Issue tracker</a></li>
            <li class="@Html.InspiniaSelected("blog")"><a href="@Url.Action("blog")">Blog</a></li>
            <li class="@Html.InspiniaSelected("article")"><a href="@Url.Action("article")">Article</a></li>
            <li class="@Html.InspiniaSelected("faq")"><a href="@Url.Action("faq")">FAQ</a></li>
            <li class="@Html.InspiniaSelected("timeline")"><a href="@Url.Action("timeline")">Timeline</a></li>
            <li class="@Html.InspiniaSelected("pin_board")"><a href="@Url.Action("pin_board")">Pin board</a></li>
        </ul>
    </li>


    <li class="@Html.InspiniaSelected(new string [] {
              "search_results",
              "lockscreen",
              "invoice",
              "login",
              "login_two_columns",
              "forgot_password",
              "register",
              "404",
              "500",
              "empty_page" })">
        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">特殊情況頁面</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("search_results")"><a href="@Url.Action("search_results")">Search results</a></li>
            <li class="@Html.InspiniaSelected("lockscreen")"><a href="@Url.Action("lockscreen")">Lockscreen</a></li>
            <li class="@Html.InspiniaSelected("invoice")"><a href="@Url.Action("invoice")">Invoice</a></li>
            <li class="@Html.InspiniaSelected("login")"><a href="@Url.Action("login")">Login</a></li>
            <li class="@Html.InspiniaSelected("login_two_columns")"><a href="@Url.Action("login_two_columns")">Login v.2</a></li>
            <li class="@Html.InspiniaSelected("forgot_password")"><a href="@Url.Action("forgot_password")">Forget password</a></li>
            <li class="@Html.InspiniaSelected("register")"><a href="@Url.Action("register")">Register</a></li>
            <li class="@Html.InspiniaSelected("x404")"><a href="@Url.Action("x404")">404 Page</a></li>
            <li class="@Html.InspiniaSelected("x500")"><a href="@Url.Action("x500")">500 Page</a></li>
            <li class="@Html.InspiniaSelected("empty_page")"><a href="@Url.Action("empty_page")">Empty page</a></li>
        </ul>
    </li>


    <li class="@Html.InspiniaSelected(new string [] {
              "toastr_notifications",
              "nestable_list",
              "agile_board",
              "timeline_2",
              "diff",
              "i18support",
              "sweetalert",

              "idle_timer",
              "truncate",
              "spinners",
              "tinycon",
              "google_maps",

              "code_editor",
              "modal_window",
              "clipboard",
              "article",
              "forum_main" ,
              "validation",

              "tree_view",
              "loading_buttons",
              "chat_view",
              "masonry",
              "tour"})">
        <a href="#"><i class="fa fa-globe"></i> <span class="nav-label">其它頁面</span><span class="label label-info pull-right">NEW</span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("toastr_notifications")"><a href="@Url.Action("toastr_notifications")">Notification</a></li>
            <li class="@Html.InspiniaSelected("nestable_list")"><a href="@Url.Action("nestable_list")">Nestable list</a></li>
            <li class="@Html.InspiniaSelected("agile_board")"><a href="@Url.Action("agile_board")">Agile board</a></li>
            <li class="@Html.InspiniaSelected("timeline_2")"><a href="@Url.Action("timeline_2")">Timeline v.2</a></li>
            <li class="@Html.InspiniaSelected("diff")"><a href="@Url.Action("diff")">Diff</a></li>
            <li class="@Html.InspiniaSelected("i18support")"><a href="@Url.Action("i18support")">i18 support</a></li>
            <li class="@Html.InspiniaSelected("sweetalert")"><a href="@Url.Action("sweetalert")">Sweet alert</a></li>
            <li class="@Html.InspiniaSelected("idle_timer")"><a href="@Url.Action("idle_timer")">Idle timer</a></li>
            <li class="@Html.InspiniaSelected("truncate")"><a href="@Url.Action("truncate")">Truncate</a></li>
            <li class="@Html.InspiniaSelected("spinners")"><a href="@Url.Action("spinners")">Spinners</a></li>
            <li class="@Html.InspiniaSelected("tinycon")"><a href="@Url.Action("tinycon")">Live favicon</a></li>
            <li class="@Html.InspiniaSelected("google_maps")"><a href="@Url.Action("google_maps")">Google maps</a></li>
            <li class="@Html.InspiniaSelected("code_editor")"><a href="@Url.Action("code_editor")">Code editor</a></li>
            <li class="@Html.InspiniaSelected("modal_window")"><a href="@Url.Action("modal_window")">Modal window</a></li>
            <li class="@Html.InspiniaSelected("clipboard")"><a href="@Url.Action("clipboard")">Clipboard</a></li>
            <li class="@Html.InspiniaSelected("forum_main")"><a href="@Url.Action("forum_main")">Forum view</a></li>
            <li class="@Html.InspiniaSelected("validation")"><a href="@Url.Action("validation")">Validation</a></li>
            <li class="@Html.InspiniaSelected("tree_view")"><a href="@Url.Action("tree_view")">Tree view</a></li>
            <li class="@Html.InspiniaSelected("loading_buttons")"><a href="@Url.Action("loading_buttons")">Loading buttons</a></li>
            <li class="@Html.InspiniaSelected("chat_view")"><a href="@Url.Action("chat_view")">Chat view</a></li>
            <li class="@Html.InspiniaSelected("masonry")"><a href="@Url.Action("masonry")">Masonry</a></li>
            <li class="@Html.InspiniaSelected("tour")"><a href="@Url.Action("tour")">Tour</a></li>
        </ul>
    </li>




    <li class="@Html.InspiniaSelected("grid_options")">
        <a href="@Url.Action("grid_options")"><i class="fa fa-laptop"></i> <span class="nav-label">Boostrap Grid 系統</span></a>
    </li>


    <li class="@Html.InspiniaSelected(new string [] {
        "table_basic",
        "table_data_tables",
        "table_foo_table",
        "jq_grid" })">
        <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("table_basic")"><a href="@Url.Action("table_basic")">Static Tables</a></li>
            <li class="@Html.InspiniaSelected("table_data_tables")"><a href="@Url.Action("table_data_tables")">Data Tables</a></li>
            <li class="@Html.InspiniaSelected("table_foo_table")"><a href="@Url.Action("table_foo_table")">Foo Tables</a></li>
            <li class="@Html.InspiniaSelected("jq_grid")"><a href="@Url.Action("jq_grid")">jqGrid</a></li>
        </ul>
    </li>

    <li class="@Html.InspiniaSelected(new string [] {
        "ecommerce_products_grid",
        "ecommerce_product_list",
        "ecommerce_product",
        "ecommerce_product_detail",
        "ecommerce_cart",
        "ecommerce_orders",
        "ecommerce_payments" })">
        <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">電商</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("ecommerce_products_grid")"><a href="@Url.Action("ecommerce_products_grid")">Products grid</a></li>
            <li class="@Html.InspiniaSelected("ecommerce_product_list")"><a href="@Url.Action("ecommerce_product_list")">Products list</a></li>
            <li class="@Html.InspiniaSelected("ecommerce_product")"><a href="@Url.Action("ecommerce_product")">Product edit</a></li>
            <li class="@Html.InspiniaSelected("ecommerce_product_detail")"><a href="@Url.Action("ecommerce_product_detail")">Product detail</a></li>
            <li class="@Html.InspiniaSelected("ecommerce_cart")"><a href="@Url.Action("ecommerce_cart")">Cart</a></li>
            <li class="@Html.InspiniaSelected("ecommerce_orders")"><a href="@Url.Action("ecommerce_orders")">Orders</a></li>
            <li class="@Html.InspiniaSelected("ecommerce_payments")"><a href="@Url.Action("ecommerce_payments")">Credit Card form</a></li>
        </ul>
    </li>
    
    <li class="@Html.InspiniaSelected(new string[] {
        "basic_gallery",
        "slick_carousel",
        "carousel" })">
        <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">圖庫</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li class="@Html.InspiniaSelected("basic_gallery")"><a href="@Url.Action("basic_gallery")">Lightbox Gallery</a></li>
            <li class="@Html.InspiniaSelected("slick_carousel")"><a href="@Url.Action("slick_carousel")">Slick Carousel</a></li>
            <li class="@Html.InspiniaSelected("carousel")"><a href="@Url.Action("carousel")">Bootstrap Carousel</a></li>
        </ul>
    </li>

    <li>
        <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">目錄層級</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li>
                <a href="#">Third Level <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>

                </ul>
            </li>
            <li><a href="#">Second Level Item</a></li>
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Second Level Item</a>
            </li>
        </ul>
    </li>


    <li class="@Html.InspiniaSelected("css_animation")">
        <a href="@Url.Action("css_animation")"><i class="fa fa-magic"></i> <span class="nav-label">CSS動畫</span><span class="label label-info pull-right">62</span></a>
    </li>

    <li class="@Html.InspiniaSelected("landing")">
        <a target="_blank" href="@Url.Action("landing")"><i class="fa fa-star"></i> <span class="nav-label">形象頁面</span> <span class="label label-warning pull-right">NEW</span></a>
    </li>

    <li class="special_link">
        <a href="@Url.Action("package")"><i class="fa fa-database"></i> <span class="nav-label">支援</span></a>
    </li>


    </ul>

    </div>
</nav>

