﻿@{
    Layout = "_InspiniaLayout.cshtml";
}

            <div class="wrapper wrapper-content animated fadeInRight">


                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="text-center m-t-lg">
                                            <img src="~/Content/inspinia/img/angular_logo.png" alt="AngularJS">
                                        </div>
                                        <div class="text-center m-t-lg">
                                            <h1>Inspinia <span class="text-navy"> <br>AngularJs</span></h1>
                                            <small>Supported AngularJs version</small>
                                        </div>
                                        <div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="text-center p-m">
                                                <p>
                                                    <strong>Inspinia <span class="text-navy">AngularJs</span></strong> is supported AngularJS version of INSPINIA theme.<br>
                                                    This version contains a number of controllers and directives written specifically to support angular framework.
                                                    <br>
                                                    <strong>Angular version is writen with Opinionated AngularJS styleguide for teams</strong>. (https://github.com/toddmotto/angularjs-styleguide).
                                                    <br>
                                                    In project folder you find also <strong class="text-navy">SeedProject</strong> It is an application skeleton for a typical AngularJS web app. You can use it
                                                    to quickly bootstrap your angular
                                                    webapp projects and dev environment for these projects.
                                                </p>

                                                <p class="text-center m-t-md">
                                                    <a target="_blank" href="Angular/" class="btn btn-primary">Live AngularJS version</a>
                                                </p>
                                            </div>
                                            <div>

                                                <div class="text-center">
                                                    <small>If you need any help feel free to write to us on support@webapplayers.com.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="text-center m-t-lg">
                                            <img src="~/Content/inspinia/img/mvc_logo.png" alt="MVC" style="width: 120px">
                                        </div>
                                        <div class="text-center m-t-lg">
                                            <h1>Inspinia <span class="text-success"><br>ASP.NET MVC5</span></h1>
                                            <small>Supported ASP.NET MVC5 version</small>
                                        </div>
                                        <div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="text-center p-m">
                                                <p>
                                                    <strong>Inspinia <span class="text-success">MVC5</span></strong> is supported ASP.NET MVC5 version of INSPINIA theme.<br>
                                                    This version contains a ASP.NET MVC5 project written in Visual Studio 2013 for .net developers.
                                                    <br>

                                                    Project has implemented all the plug-ins and it is created in accordance with the convention MVC5.
                                                    In addition, this version has a scaffolding templates that will help you quickly write applications using Entity Framework.
                                                    This version also has <strong class="text-success">SeedProject</strong>  -  a skeleton application that halp you easy start a new project.
                                                </p>

                                                <p class="text-center m-t-md">
                                                    <a target="_blank" href="http://208.43.255.210/" class="btn btn-success">Live ASP 4.5.1 MVC5 version</a><br>
                                                    <!--<a target="_blank" href="#" class="btn btn-success"><small>(30 minutes break) <br/> server configuration</small></a><br/>-->
                                                </p>
                                            </div>
                                            <div>

                                                <div class="text-center">
                                                    <small>If you need any help feel free to write to us on support@webapplayers.com.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-center m-t-lg">
                                            <img src="~/Content/inspinia/img/meteor_logo.png" alt="HTML" style="width: 200px;margin-top: 20px">
                                        </div>

                                        <div class="text-center m-t-lg">
                                            <h1>Inspinia <span class="font-bold" style="color: black;"><br>Meteor</span></h1>
                                            <small>Meteor.js version</small>
                                        </div>
                                        <div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="text-center p-m">
                                                <p>
                                                    <strong>Inspinia <span class="font-bold" style="color: black;">METEOR</span></strong> is supported Meteor version. Meteor.js is
                                                    an open-source platform built on Node and MongoDB. <br>This version
                                                    contains Meteor project with designs and components form HTML/JS
                                                    version. Project has implemented all plugins and it is created in
                                                    accordance with the convention of Meteor structure. The code is
                                                    clean and all templates are well structured. It use Iron.Router for
                                                    routes management. Like other versions this version also has
                                                    <strong style="color:black">SeedProject</strong> - a skeleton application that help you easy start a new
                                                    Meteor app.

                                                </p>

                                                <p class="text-center m-t-md">
                                                    <a target="_blank" href="http://45.55.219.47/" class="btn btn-danger btn-disabled" style="background-color: black;border: 1px solid black">Live Meteor version</a>
                                                </p>
                                            </div>
                                            <div>
                                                <div class="text-center">
                                                    <small>If you need any help feel free to write to us on support@webapplayers.com.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">


                                    <div class="col-lg-4">
                                        <div class="text-center m-t-lg">
                                            <img src="~/Content/inspinia/img/html_logo.png" alt="HTML" style="width: 100px">
                                        </div>
                                        <div class="text-center m-t-lg">
                                            <h1>Inspinia <span class="text-danger"><br>Static HTML/JS</span></h1>
                                            <small>Static HTML/JS version</small>
                                        </div>
                                        <div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="text-center p-m">
                                                <p>
                                                    <strong>Inspinia <span class="text-danger">HTML/JS</span></strong> is static version of INSPINIA theme.<br>
                                                    This version contains all components and plugin created with strict HTML and jQuery.
                                                    <br>
                                                    This version is great if you are a PHP or JAVA programmer.
                                                    As each page is created separately it allows you to quickly implement it for your project by including needed resources.
                                                    The code is clean and clear so you should not have any problems with its implementation.
                                                    Like in all is has also implemented more than 30 plugins which allow you to give your application a great new functionality.
                                                </p>

                                                <p class="text-center m-t-md">
                                                    <a target="_blank" href="index.html" class="btn btn-danger">Live HTML/JS version</a>
                                                </p>
                                            </div>
                                            <div>
                                                <div class="text-center">
                                                    <small>If you need any help feel free to write to us on support@webapplayers.com.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-center m-t-lg">
                                            <img src="~/Content/inspinia/img/rails_logo.png" alt="HTML" style="width: 80px">
                                        </div>
                                        <div class="text-center m-t-lg">
                                            <h1>Inspinia <span class="text-warning"><br> Ruby on Rails</span></h1>
                                            <small>Ruby on Rails version</small>
                                        </div>
                                        <div>
                                            <div class="hr-line-dashed"></div>
                                            <div class="text-center p-m">
                                                <p>
                                                    <strong>Inspinia <span class="text-warning">Rails</span></strong> is Ruby on Rails version of INSPINIA theme.<br>
                                                    This version contains Ruby on Rails project with all designs from Inspinia static version.
                                                    <br>

                                                    This version is great if you are a Ruby on Rails programmer.
                                                    It is created with elementary Rails controllers to demonstrate skeleton Rails app with all views and components.
                                                    Like other versions this version also has <span class="text-warning"><strong>SeedProject</strong></span>  - a skeleton application that halp you easy start a new Rails app.
                                                </p>

                                                <p class="text-center m-t-md">
                                                    <a target="_blank" href="http://104.131.70.23/" class="btn btn-warning">Live Ruby on Rails version</a>
                                                </p>
                                            </div>
                                            <div>
                                                <div class="text-center">
                                                    <small>If you need any help feel free to write to us on support@webapplayers.com.
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

@section css
{
            <!-- Local style only for demo purpose -->
            <style>
                .directive-list list-style: none;
                }
                .directive-list li background: #f3f3f4; padding: 10px 20px; margin: 4px;
                }
            </style>            
}
