﻿@{
    Layout = "_InspiniaLayout.cshtml";
}

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>Vote list</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">
                            <strong>Vote list</strong>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content animated fadeInRight">

                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>32</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        It is a long established fact that a reader will be distracted
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (32)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">1 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Andrew Williams</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-css3"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>15</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        Many desktop publishing packages and web page
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (11)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">4 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Monica Smith</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-github"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>8</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        There are many variations of passages of Lorem Ipsum available, but the majority have
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (7)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">6 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Mike Nort</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-git"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>23</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (18)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">8 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Anna West</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-digg"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>34</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        The generated Lorem Ipsum is therefore
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (21)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">11 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Johnathan Morgan</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-tumblr"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>5</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (2)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">14 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Alice Williams</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-flickr"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>15</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        Many desktop publishing packages and web page
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (11)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">4 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Monica Smith</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-github"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>8</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        There are many variations of passages of Lorem Ipsum available, but the majority have
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (7)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">6 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Mike Nort</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-git"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>23</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (18)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">8 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Anna West</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-digg"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>34</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        The generated Lorem Ipsum is therefore
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (21)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">11 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Johnathan Morgan</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-tumblr"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>32</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        It is a long established fact that a reader will be distracted
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (32)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">1 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Andrew Williams</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-css3"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>15</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        Many desktop publishing packages and web page
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (11)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">4 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Monica Smith</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-github"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vote-item">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="vote-actions">
                                        <a href="#">
                                            <i class="fa fa-chevron-up"> </i>
                                        </a>
                                        <div>23</div>
                                        <a href="#">
                                            <i class="fa fa-chevron-down"> </i>
                                        </a>
                                    </div>
                                    <a href="#" class="vote-title">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text
                                    </a>
                                    <div class="vote-info">
                                        <i class="fa fa-comments-o"></i> <a href="#">Comments (18)</a>
                                        <i class="fa fa-clock-o"></i> <a href="#">8 Hours ago</a>
                                        <i class="fa fa-user"></i> <a href="#">Anna West</a>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="vote-icon">
                                        <i class="fa fa-digg"> </i>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

